<div class="main">
  <dx-data-grid
    #grid
    [dataSource]="dataSource"
    [allowColumnResizing]="true"
    (onToolbarPreparing)="toolbarCopy($event)"
  >
    <dxi-data-grid-column dataField="ID" [width]="200"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="HireDate"></dxi-data-grid-column>
    <dxi-data-grid-column
      dataField="Residence"
      [groupIndex]="0"
    ></dxi-data-grid-column>
    <dxi-data-grid-column dataField="IsTested"></dxi-data-grid-column>
    <dxi-data-grid-column type="buttons">
      <dxi-data-grid-button name="edit"></dxi-data-grid-button>
      <dxi-data-grid-button name="delete"></dxi-data-grid-button>
      <dxi-data-grid-button
        hint="Copy row"
        icon="copy"
        [onClick]="rowCopy"
      ></dxi-data-grid-button>
    </dxi-data-grid-column>

    <dxo-data-grid-editing
      mode="popup"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [useIcons]="true"
    ></dxo-data-grid-editing>

    <dxo-data-grid-group-panel [visible]="true"></dxo-data-grid-group-panel>
    <dxo-data-grid-filter-row [visible]="true"></dxo-data-grid-filter-row>

    <dxo-data-grid-summary>
      <dxi-data-grid-group-item
        column="LastName"
        summaryType="count"
        name="Count"
        [alignByColumn]="true"
      ></dxi-data-grid-group-item>
      <dxi-data-grid-group-item
        column="LastName"
        summaryType="count"
        name="Count"
      ></dxi-data-grid-group-item>
      <dxi-data-grid-group-item
        column="IsTested"
        summaryType="count"
        [showInGroupFooter]="true"
        name="Count"
        [alignByColumn]="true"
      ></dxi-data-grid-group-item>
      <dxi-data-grid-total-item
        column="ID"
        summaryType="count"
        displayFormat="No. of employees: {0}"
        name="No. of employees"
      ></dxi-data-grid-total-item>
      <dxi-data-grid-total-item
        column="HireDate"
        summaryType="count"
        name="Dates"
      ></dxi-data-grid-total-item>
    </dxo-data-grid-summary>
  </dx-data-grid>
</div>
